* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detailsItem {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

/* containerLeft */
.detailsItem .containerLeft {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.detailsItem .containerLeft .containerImg {
    display: flex;
    justify-content: center;
    
}

.detailsItem .containerLeft Img{
    width: 100%;
}

/* containerRigth */
.detailsItem .containerRight {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 600px;
}

.detailsItem .containerRight .descriptionItem {
    display: flex;
    flex-direction: column;

}

.detailsItem .containerRight .cardDescription {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 450px
    
}


/* title */
.detailsItem .containerRight .cardDescription .title {
    font-size: 45px;
    margin: 10px 0;
}

/* description */
.detailsItem .containerRight .cardDescription .description {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.detailsItem .containerRight .cardDescription .description .descriptionTitle {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.detailsItem .containerRight .cardDescription .description .parrafo {
    font-size: 18px;
    margin: 10px 0;
}

/* precio */
.detailsItem .containerRight .cardDescription .precio{
    color: #5b00fb;
    font-weight: bold;
    font-size: 55px;
    margin: 10px 0;
}

/* buttons */
.detailsItem .containerRight .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin: 10px 0;
}

.detailsItem .containerRight .buttons span {
    font-weight: 20px;
    margin: 0 10px;
}

.detailsItem .containerRight .buttons .addCantCart div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}



.detailsItem .containerRight .buttons div {
    background-color: #5b00fb;
    border: none;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
}

.detailsItem .containerRight .buttons #detalles{
    width: 48%;
    background-color: #5b00fb;
    border-radius: 50px;
    color: white;
    border: none;
    font-size: 21px;
    cursor: pointer;
}

.detailsItem .containerRight .buttons #detalles:hover{
    background-color: #4c00d1;
}